body {
margin: 0 auto;
background: #FFF;
font: normal 100%/1.4em Verdana,'Liberation Sans',Arial,Helvetica,sans-serif;
}

.pagewrap {
margin: 15px auto;
background-color: transparent;
padding: 0 30px;
width: 1152px;
}

.top {
width: 100%;
height: 80px;
padding: 0;
margin: 0 0 2.5em 0;
border-bottom: 1px solid #606060;
}

.top #top_left {
position: relative;
float:left;
width: 60%;
height: 100%;
}

.top #top_left_name {
position: absolute;
bottom: 0;
font-family: 'Helvetica','Droid Sans','Liberation Sans',Arial,sans-serif;
font-size: 30px;
line-height: 59px;
vertical-align: top;
font-weight: bold;
text-decoration: none;
color: #222;
text-transform: none;
margin: 0;
padding: 0;
outline: 0;
}

.contentwrap {
width: 100%;
min-height: 870px;
padding: 0;
font-size: 0.875em;
line-height: 1.6em;
}

.contentwrap div#general_info {
background-color: lightblue;
}

.contentwrap div#header {
height:270px;
width:100%;
}

.contentwrap table.inline {
float: right;
}

.contentwrap table.inline tr{
font-size: 0.875em !important;
line-height: 1.8em !important;
}

.contentwrap a:link, a:link:active, a:visited, a:visited:active {
cursor: auto;
color: #079CFE;
padding-left: 0;
background: 0 none;
text-decoration: none;
}

.contentwrap a:link:hover, a:visited:hover{
color: #0720FE;
}


.schedule_tbl  table {
	width: 100%;
	border: solid 1px gray;
	border-collapse: collapse;
	font-size:0.875em;
	
}

.schedule_tbl  th {
	border: solid 1px gray;
	border-width: 1px;
	padding: .5em 5px;
	background: #82BAFF/*#03B5FF#079CFE*/;
	text-align: left;	
}

.schedule_tbl  td {
	padding: .3em 5px;
	text-align: left;
	border: solid 1px gray;
}

.schedule_tbl  .even td {
	background: #82BAFF;
	border: solid 1px gray;
}

.schedule_tbl  .selected td {
	background: #BEDF5E;
}



table {
border-collapse: collapse;
empty-cells: show;
border-spacing: 0;
border: 1px solid #ddd;
}


th, td {
padding: .3em .5em;
margin: 0;
vertical-align: top;
text-align: left;
border-spacing: 0;
border: 1px solid #FFF;
border-collapse: collapse;
}



p, ul, ol, pre, table, hr{
margin: 0 0 1.4em 0;
padding: 0;
}

.contentwrap p, .contentwrap ul, .contentwrap ol, .contentwrap pre, .contentwrap table, .contentwrap hr{
margin: 0 0 1em;
}


.leftalign {
text-align: left;
}

.contentwrap strong{
font-weight: bold;
font-size: 1.2em;
}

.contentwrap .section_footer {
font-size: 0.8em;
}


